.container{
    height: 700px;
    width: 600px;
    background-color: rgb(253, 203, 158);
    margin: auto;
    border: 1px solid #1a7dbe;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    position: relative;
    top: 50;
    vertical-align: middle;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.information-category, .information-displayed,.image-container{
    border: 1px solid #1a7dbe;
}

.container-title{
    font-weight: 800;
    font-size: 26px;
    display: block;
    margin: auto;
    position: relative;
    padding-top: 5px;
}

.container-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 84.25%;
    width: 100%;
    position: absolute;
    text-align: center;
    margin: auto;
}

.information{
    border-radius: 5px;
    display: flex;
    width: 80%;
    height: 10%;
    margin: auto;
    margin-top: 2%;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}


.image-container{
    position: absolute;
    display: block;
    width:100%;
    height: 50%;
    margin: auto;
    margin-top: 2%;
    overflow: hidden;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    bottom: 0;
}

.data-container{
    position: absolute;
    width: 100%;
    height: 50%;
    top: 0;
}

.display-image{
    position: inherit;
    display: block;
    width:100%;
    height: 100%;
    margin:auto;
    margin-bottom: 0;
    bottom: 0;
}

.information-displayed{
    display: flex;
    float: right;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 40%;
    height: 100%;
    background-color: white;
    border-radius: 5px;
}

.information-category{
    display: flex;
    float: left;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-weight: 500;
    width: 40%;
    height: 100%;
    background-color: white;
    border-radius: 5px;
}

.breeder-display-button{
    color: white;
    background-color: #1a7dbe;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 5%;
    width: 80%;
    height: 20%;
    align-items: center;
    justify-content: center;
    font-size: 36px;
}