<div class = "carousel-container">
    <div class="carousel-button-left">
    <button mat-button class = "carousel-button" (click)="rotateCarouselImage(-1)">
        <mat-icon class="direction-icon">arrow_back_ios</mat-icon>
    </button>
</div>
    <div class="img-container">
        <img src='{{currentImage}}' alt="dog-image">
    </div>
    <div class="carousel-button-right">
        <button mat-button class = "carousel-button" (click)="rotateCarouselImage(1)">
            <mat-icon class="direction-icon">arrow_forward_ios</mat-icon>
        </button>
    </div>
</div>