.dog-card{
    display: flex;
    height: 80%;
    width: 60%;
    position: relative;
    flex-direction: column;
}

.top-section-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.information-category, .information-displayed{
    border: 1px solid #1a7dbe;
}

.container{
    height: 96%;
    width: 40%;
    background-color: rgb(253, 203, 158);
    border: 1px solid;
    margin: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    position: relative;
    top: 50;
    vertical-align: middle;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.container-title{
    width: 100%;
    height: 10%;
    font-weight: 800;
    font-size: 26px;
    display: flex;
    padding-top: 5px;
    flex-direction: column;
}

.container-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 84.25%;
    width: 100%;
    position: absolute;
    text-align: center;
    margin: auto;
}

.information{
    border-radius: 5px;
    display: flex;
    width: 80%;
    height: 10%;
    margin: auto;
    margin-top: 2%;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}


.image-container{
    position: absolute;
    display: block;
    width:100%;
    height: 50%;
    margin: auto;
    margin-top: 2%;
    overflow: hidden;
    border: 1px solid #1a7dbe;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    bottom: 0;
}

.data-container{
    position: absolute;
    width: 100%;
    height: 50%;
    top: 0;
}

.display-image{
    position: inherit;
    display: block;
    width:100%;
    height: 100%;
    margin:auto;
    margin-bottom: 0;
    bottom: 0;
}

.information-displayed{
    display: flex;
    float: right;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 40%;
    height: 100%;
    background-color: white;
    border-radius: 5px;
}

.information-category{
    display: flex;
    float: left;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-weight: 500;
    width: 40%;
    height: 100%;
    background-color: white;
    border-radius: 5px;
}

.carousel-button{
    height: 100%;
    width: 20%;
    display: flex;
    background-color: #1a7dbe;
    color: white;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.puppy-carousel-card{
    width: 20%;
    height: 99%;
    display: flex;
    flex-direction: column;
    margin: auto;
}


.puppy-carousel{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5%;
    /* overflow: hidden; */
}

.dog-container-top-section{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    flex: wrap;
}

.dog-container-bottom-section{
    width: 100%;
    height: 34%;
    display: flex;
    flex-direction: column;
    /* background-color: #0F4C75; */
    flex-wrap: wrap;
    margin: auto;
}

.dog-container{
    background-color: #0F4C75;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
}

.view-all-dogs-button{
    display: flex;
    width: 100%;
    height: 4%;
    font-size: large;
    background-color: #1a7dbe;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.dogs-not-available{
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    align-items: center;
}

.dogs-not-available-text{
    display: flex;
    font-size: 40px;
    font-weight: 400;
    width: 100%;
    justify-content: center;
    align-content: center;
}

.rotate-gallery-controls{
    margin-top: 2.5%;
    margin-bottom: 1.5%;
    width: 100%;
    height: 8%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #0F4C75;
}

button{
    border: 1px solid rgb(253, 203, 158);
}

.dog-panel{
    background-color: rgb(253, 203, 158);
    text-align: center;
}

.dog-panel.mat-selected{
    color: white !important;
    background-color: #1a7dbe !important;
}

.dog-dropdown{
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin-top: auto;
    margin-left:2.5%;
    margin-right: 2.5%;
}

.dog-select{
    color: white;
}

:host
::ng-deep .mat-form-field-ripple,
::ng-deep .mat-form-field-underline {
    background-color: white !important;
}
