<app-banner></app-banner>
<app-nav-bar></app-nav-bar>
<div class="container-holder">
    <div class="container">
        <div class="data-container">
            <p class="container-title">Breeder</p>
            <div class="information">
                <div class="information-category">ID: </div>
                <div class="information-displayed">{{breeder.bId}}</div>
            </div>
            <div class="information">
                <div class="information-category">Name: </div>
                <div class="information-displayed">{{breeder.name}}</div>
            </div>
            <div class="information">
                <div class="information-category">Username: </div>
                <div class="information-displayed">{{breeder.username}}</div>
            </div>
            <div class="information">
                <div class="information-category">Email: </div>
                <div class="information-displayed">{{breeder.email}}</div>
            </div>
        </div>
        <div class="image-container">
            <img src="/../../assets/images/lab1.jpg" alt="dog-image" class="display-image">
        </div>
    </div>
    <div class="container">
        <div class="dog-container" *ngIf="breeder.dogs.length > 0">
            <div class="dog-container-top-section">
                <p class="container-title">Breeders Dogs</p>
                <button mat-button class="carouselButtonLeft" (click)="rotateDog(-1)">
                    <mat-icon>arrow_back_ios</mat-icon>
                </button>
                <app-puppy-card [dog]="dogSelected" class="dog-card"></app-puppy-card>
                <button mat-button class="carouselButtonRight" (click)="rotateDog(1)">
                    <mat-icon>arrow_forward_ios</mat-icon>
                </button>
            </div>
            <div class="dog-container-bottom-section">
                <div class="puppy-carousel">
                    <app-puppy-card *ngFor="let dog of dogsInView" [dog]="dog"
                        class="puppy-carousel-card"></app-puppy-card>
                </div>
                <button mat-button color="primary" class="view-all-dogs-button">View All Dogs</button>
            </div>
        </div>
        <div class="dogs-not-available" *ngIf="breeder.dogs.length === 0">
            <p class="dogs-not-available-text">This breeder has no dogs listed
            yet...</p>
        </div>
    </div>
</div>