<mat-toolbar>

  <span class="menubtns">
    <button mat-flat-button (click) = "homePage()">Home</button>
    <button mat-flat-button (click) = "breederPage()">Breeders</button>
    <button mat-button [matMenuTriggerFor]="menu" *ngIf = "isSignedIn">Breeder Menu</button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item class = "breederDropdownMenu">My Profile</button>
      <button mat-menu-item class = "breederDropdownMenu" (click) = "createDog()">Add dog</button>
    </mat-menu>
    </span>

  </mat-toolbar>

  <app-create-puppy-display></app-create-puppy-display>

 